In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0, 100, (10, 2))

In [4]:
data

array([[19, 63],
       [27, 87],
       [50, 80],
       [52, 25],
       [95, 95],
       [ 2, 73],
       [37, 81],
       [61, 55],
       [80, 33],
       [60, 25]])

In [5]:
scaler_model =  MinMaxScaler()

In [6]:
type(scaler_model)

sklearn.preprocessing._data.MinMaxScaler

In [7]:
scaler_model.fit(data)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler_model.transform(data)

array([[0.1827957 , 0.54285714],
       [0.2688172 , 0.88571429],
       [0.51612903, 0.78571429],
       [0.53763441, 0.        ],
       [1.        , 1.        ],
       [0.        , 0.68571429],
       [0.37634409, 0.8       ],
       [0.6344086 , 0.42857143],
       [0.83870968, 0.11428571],
       [0.62365591, 0.        ]])

In [9]:
import pandas as pd

In [12]:
mydata =  pd.DataFrame(data=np.random.randint(0, 101, (50, 4)), columns=['f1', 'f2', 'f3', 'label'])

In [13]:
mydata

     f1  f2   f3  label
0     1  10    1      2
1     4  39   97     77
2    64   3   90     80
3    49  87   34     77
4    57  34   76     16
5    58  13   47     37
6    82  77   45     85
7    54  76   39      0
8    72   9    3      0
9    45  58   29     75
10   26  65   46     28
11   47  81   57     89
12   65  84   82     32
13    1  23   82     17
14   20   4   51     44
15   63  28   68     64
16   80  42   92     97
17   61   4   30     43
18   95   0   93     36
19  100  63   25     43
20    7  62   86     75
21   13  92    3     84
22   64  59   24      3
23   39  59   66     22
24   97   4   39     92
25   72  51   83     28
26    3  45   66     33
27   64  57   64     60
28    1  29   10     40
29    1   1    6    100
30   86  16   86     25
31   87  54   33      5
32   26  70   99     34
33   82  43   94     37
34   89  15   48    100
35   17  36   96     31
36   54  33   24     27
37   52  90   22     33
38   95  49  100     30
39   96  12   28     91
40   41  73   86     88
41   65  19   55     35
42   79  84   55     15
43   95  87   97     47
44   75   7   26     72
45   54  76   31     79
46   81  99   95     62
47   66  34   75     58
48   52  82   84     14
49   40  10    1     56

In [15]:
X = mydata[['f1', 'f2', 'f3']]

In [16]:
X

     f1  f2   f3
0     1  10    1
1     4  39   97
2    64   3   90
3    49  87   34
4    57  34   76
5    58  13   47
6    82  77   45
7    54  76   39
8    72   9    3
9    45  58   29
10   26  65   46
11   47  81   57
12   65  84   82
13    1  23   82
14   20   4   51
15   63  28   68
16   80  42   92
17   61   4   30
18   95   0   93
19  100  63   25
20    7  62   86
21   13  92    3
22   64  59   24
23   39  59   66
24   97   4   39
25   72  51   83
26    3  45   66
27   64  57   64
28    1  29   10
29    1   1    6
30   86  16   86
31   87  54   33
32   26  70   99
33   82  43   94
34   89  15   48
35   17  36   96
36   54  33   24
37   52  90   22
38   95  49  100
39   96  12   28
40   41  73   86
41   65  19   55
42   79  84   55
43   95  87   97
44   75   7   26
45   54  76   31
46   81  99   95
47   66  34   75
48   52  82   84
49   40  10    1

In [17]:
y = mydata['label']

In [18]:
y

0       2
1      77
2      80
3      77
4      16
5      37
6      85
7       0
8       0
9      75
10     28
11     89
12     32
13     17
14     44
15     64
16     97
17     43
18     36
19     43
20     75
21     84
22      3
23     22
24     92
25     28
26     33
27     60
28     40
29    100
30     25
31      5
32     34
33     37
34    100
35     31
36     27
37     33
38     30
39     91
40     88
41     35
42     15
43     47
44     72
45     79
46     62
47     58
48     14
49     56
Name: label, dtype: int32

In [19]:
from  sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [21]:
X_train

    f1  f2   f3
6   82  77   45
41  65  19   55
46  81  99   95
47  66  34   75
15  63  28   68
9   45  58   29
16  80  42   92
24  97   4   39
34  89  15   48
31  87  54   33
0    1  10    1
44  75   7   26
27  64  57   64
33  82  43   94
5   58  13   47
29   1   1    6
11  47  81   57
36  54  33   24
1    4  39   97
21  13  92    3
2   64   3   90
43  95  87   97
35  17  36   96
23  39  59   66
40  41  73   86
10  26  65   46
22  64  59   24
18  95   0   93
49  40  10    1
20   7  62   86
7   54  76   39
42  79  84   55
14  20   4   51
28   1  29   10
38  95  49  100

In [23]:
y_train.shape

(35,)